@page
@model IndexModel
@{
    ViewData["Title"] = "O Nas";
}

<div class="all" style="font-size:20px;text-align:center ">
    <div class="gora" style="font-size:47px;margin:30 0 30 0">O NAS</div>
    <div class="calosc">
        <div class="box" style="
        float: left;
        width: 50%;
        height: 500px;
        padding: 10px;
            ">

            <p>Jesteśmy pasjonatami. Każda linijka kodu sprawia nam przyjemność.</p> 
            <p>Każda linijka jest inna. Do każdej przykładamy się z równym zaangażowaniem. Jesteśmy szczęśliwi, że kreujemy rzeczywistość.</p>

        </div>
        <div class="box" style="
        float: left;
        width: 50%;
        height: 500px;
        padding: 10px;
    ">
            <img src="https://bit.ly/3sQs4XW" alt="dziwny pan" style="width:300px;height:300px;" />
        </div>
        <div style="clear:both"></div>
        <div class="box" style="
        float: left;
        width: 50%;
        height: 500px;
        padding: 10px;
            ">
            <img src="https://bit.ly/3sJGJEo" alt="dziwniejszy pan" style="width:300px;height:300px;" />
        </div>
        <div class="box" style="
        float: left;
        width: 50%;
        height: 500px;
        padding:10px;
            ">

            <p>Tworzymy kod z pasji. Programista jest pisarzem. Programista jest rzeźbiarzem. Programista jest artystą.</p> 
            <p>Dłonie programisty tworzą niezwykłe dzieła, a najlepsze powinny zostać zapamiętane na wieki.</p>

        </div>
    </div>
    <div class="stopka" style="clear:both;text-align:center">
        Wszelkie prawa zaśnieżone &#10052;
    </div>
</div>
