@page
@model lab1.Pages.Books.EditBookModel

@{
    ViewData["Title"] = "Edytuj Książkę";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <partial name="_CreateEditBookPartial.cshtml" model="@Model.Book" />
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    <a asp-page="IndexAuthors" class="btn btn-outline-warning">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>