input[type='submit'], button, [aria-label] {
    cursor: pointer;
}


#form-edit, #form-add, #button-back {
    display: none;
}

#counter {
    border-bottom-style: solid; 
    border-bottom-color: #babdbe; 
    border-bottom-width: thin; 
    padding: 2px;
}

#table-container {
    width: 500px;
    margin: auto; 
    border-style: solid; 
    border-color: #babdbe; 
    border-width: thin; 
    border-radius: 0.08cm; 
    margin-top: 10px;
}

#button-bar {
    border-top-style: solid;
    border-top-color: #babdbe;
    border-top-width: thin;
    padding: 2px;
}

/* top-bar Styling */
#top-bar {
    width: 100%; 
    height: 75px; 
    border-bottom-color: #babdbe; 
    border-bottom-style: solid; 
    border-bottom-width: thin;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#selected-site {
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    border-bottom-color: coral;
}

.bar-item {
    flex: 20px 0 100px; 
    padding:1em;
}

.bar-link {
    font-size: 18px !important;
}
/* top-bar Styling end*/

.form-input-p {
    margin-top: 2px; 
    text-align: center;    
}

.form-input {
    border-style: none; 
    border-bottom-style: solid;
}

.form-button-p {
    margin: 2px; 
    text-align: right;
}

table {  
    border: 0;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    border: 0;
    padding: 5px;
}

* {
    font-family: Helvetica, Sans-Serif;
    color: #444444;
    font-size: 15px;
    margin: 0;
    padding: 0;
}