input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#form-edit {
    display: none;
}

#table-container {
    width: 500px;
    margin: auto; 
    margin-top: 10px;
}

#counter {
    color: red;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* top-bar Styling */
#top-bar {
    width: 100%; 
    height: 75px; 
    border-bottom-color: #babdbe; 
    border-bottom-style: solid; 
    border-bottom-width: thin;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#selected-site {
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    border-bottom-color: coral;
}

.bar-item {
    flex: 20px 0 100px; 
    padding:1em;
}

.bar-link {
    font-size: 18px !important;
    color: #444444 !important;
}
/* top-bar Styling end*/

.table-pos {
    width: 90px;
}

.table-data {
    width: 240px;
}

.table-button {
    width: 65px;
}

.table-button-button {
    width: 90%;
    height: 30px;
}

.form-text {
    width: 40%; 
    float: left; 
    font-size: 25px; 
    text-align: right; 
    padding-right: 1%;
}

.form-field-name {
    width: 54%; 
    float: left;
}

.form-field-name-input {
    height: 25px; 
    width:100%
}

.form-field-finsh {
    width: 5%; 
    float: left;
}

.form-field-finsh-button {
    margin-left: 20px; 
    height: 29px; 
    width: 75px;
}

* {
    font-family: Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

table {  
    border: 0;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    border: 0;
    padding: 5px;
}