input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#form-edit {
    display: none;
}

#table-container {
    width: 500px;
    margin: auto; 
    margin-top: 10px;
}

/* top-bar Styling */
#top-bar {
    font-family: Helvetica, Sans-Serif;
    width: 100%; 
    height: 75px; 
    border-bottom-color: #babdbe; 
    border-bottom-style: solid; 
    border-bottom-width: thin;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#selected-site {
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    border-bottom-color: coral;
}

.bar-item {
    flex: 20px 0 100px; 
    padding:1em;
}

.bar-link {
    font-size: 18px !important;
    color: #444444 !important;
}
/* top-bar Styling end*/

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #0066CC;
    color: white;
}

td {
    border: 1px solid;
    padding: 5px;
}