@page
@model lab1.Pages.Authors.CreateModel

@{
    ViewData["Title"] = "Dodaj Autora";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Dodaj Autora</title>
    </head>

    <body>
        <h1>@ViewData["Title"]</h1>     
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <partial name="_CreateEditAuthorPartial.cshtml" model="@Model.Author" />
                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-primary" />
                        <a asp-page="IndexAuthors" class="btn btn-outline-warning">Powrót</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>